<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyl.mapper.NursingPlanMapper">

    <resultMap id="NursingPlanResultMap" type="com.zzyl.vo.NursingPlanVo">
        <id column="id" property="id"/>
        <result column="plan_name" property="planName"/>
        <result column="sort_no" property="sortNo"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getAllNursingPlans" resultMap="NursingPlanResultMap">
        select * from nursing_plan
    </select>

    <select id="page" resultMap="NursingPlanResultMap">
        select np.*, su.real_name as creator
        from nursing_plan as np left join sys_user as su on np.create_by = su.id
        <where>
            <if test="name != null and name != ''">
                and plan_name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by sort_no, create_time desc
    </select>

    <select id="selectById" resultType="com.zzyl.entity.NursingPlan">
        select *
        from nursing_plan
        where id = #{id}
    </select>
</mapper>